body{
    background-color: #6E85B7;       
}
hr{
  border-color: white;
  border-style: dotted hidden hidden hidden;
  width: 5%;
  border-width: thick;
}
h1{
    color: #B2C8DF;
    
}

h3{
    color: #B2C8DF;
}